# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.project
/.settings/org.eclipse.jdt.core.prefs
/bin/bangbean/build.xml
/bin/com/build.xml
/bin/dodatakA/build.xml
/bin/frogbean/build.xml
/bin/jcsc/index.html
/bin/jcsc/xsl/class.xsl
/bin/jcsc/xsl/overview.xsl
/bin/jcsc/xsl/package.xsl
/bin/jcsc/xsl/packagelist.xsl
/bin/p02/build.xml
/bin/p03/BitManipulation.out
/bin/p03/build.xml
/bin/p04/build.xml
/bin/p05/build.xml
/bin/p06/build.xml
/bin/p07/build.xml
/bin/p08/build.xml
/bin/p09/Cleanup.out
/bin/p09/build.xml
/bin/p10/build.xml
/bin/p11/References.out
/bin/p11/build.xml
/bin/p12/Blip3.out
/bin/p12/IOStreamDemo.out
/bin/p12/TestEOF.out
/bin/p12/build.xml
/bin/p13/build.xml
/bin/p14/!index.html
/bin/p14/Applet1bFrame.html
/bin/p14/Applet1cFrame.html
/bin/p14/Applet1dFrame.html
/bin/p14/BorderLayout1Frame.html
/bin/p14/BordersFrame.html
/bin/p14/Box1Frame.html
/bin/p14/Box2Frame.html
/bin/p14/Box3Frame.html
/bin/p14/Box4Frame.html
/bin/p14/BoxLayout1Frame.html
/bin/p14/Button1Frame.html
/bin/p14/Button2Frame.html
/bin/p14/Button2bFrame.html
/bin/p14/ButtonGroupsFrame.html
/bin/p14/ButtonsFrame.html
/bin/p14/CheckBoxesFrame.html
/bin/p14/ColorBoxesFrame.html
/bin/p14/ComboBoxesFrame.html
/bin/p14/DialogsFrame.html
/bin/p14/DynamicEventsFrame.html
/bin/p14/Face0.gif
/bin/p14/Face1.gif
/bin/p14/Face2.gif
/bin/p14/Face3.gif
/bin/p14/Face4.gif
/bin/p14/FlowLayout1Frame.html
/bin/p14/GridLayout1Frame.html
/bin/p14/HTMLButtonFrame.html
/bin/p14/JScrollPanesFrame.html
/bin/p14/JTableDemoFrame.html
/bin/p14/ListFrame.html
/bin/p14/MenusFrame.html
/bin/p14/MessageBoxesFrame.html
/bin/p14/OtherTests.bat
/bin/p14/OtherTests.sh
/bin/p14/PopupFrame.html
/bin/p14/ProgressFrame.html
/bin/p14/RadioButtonsFrame.html
/bin/p14/RunJava.bat
/bin/p14/SeparationFrame.html
/bin/p14/ShowAddListenersFrame.html
/bin/p14/SimpleMenusFrame.html
/bin/p14/SineWaveFrame.html
/bin/p14/TabbedPane1Frame.html
/bin/p14/TextFieldsFrame.html
/bin/p14/TicTacToeFrame.html
/bin/p14/TrackEventFrame.html
/bin/p14/TreesFrame.html
/bin/p14/build.xml
/bin/p14/contents.html
/bin/p14/index.html
/bin/p14/jnlp/JnlpFileChooser.html
/bin/p14/jnlp/build.xml
/bin/p14/jnlp/filechoosertemplate.jnlp
/bin/p14/jnlp/images/tijicon.gif
/bin/p14/signedapplet/FileAccess.html
/bin/p14/signedapplet/build.xml
/bin/p15/ConfigureLogging.out
/bin/p15/LoggingLevelManipulation.out
/bin/p15/LoggingLevels.out
/bin/p15/build.xml
/bin/p15/log.prop
